<form [formGroup]="emergencyForm" >
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>Time</label>
              <ngb-timepicker formControlName="time"  [spinners]="false"  [seconds]="true"></ngb-timepicker>
              <mat-error *ngIf="emergencyForm.controls.time.touched && emergencyForm.get('time').hasError('required')">Time is Required!</mat-error>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label>Action</label>
              <select class="form-control"  formControlName="action">
                <option value="" >Choose Option</option>
                <option value=1 >Alert</option>
                <option value=2 >Message</option>
                <option value=3 >Call</option>
                <option value=4 >Nothing</option>
              </select>
              <mat-error *ngIf="emergencyForm.controls.action.touched && emergencyForm.get('action').hasError('required')">Action is Required!</mat-error>
          </div>
      </div>
      <div class="col-md-12" *ngIf="emergencyForm.value.action==2" >
        <textarea class="form-control" cols="5" placeholder="Message"></textarea>
    </div>
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Save</button>
      </div>
  </div>
  </form>