<form [formGroup]="emergencyForm" >
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label>Time</label>
              <ngb-timepicker formControlName="timer"  [spinners]="false"  [seconds]="true"></ngb-timepicker>
              <mat-error *ngIf="emergencyForm.controls.timer.touched && emergencyForm.get('timer').hasError('required')">Time is Required!</mat-error>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label>Action</label>
              <select class="form-control"  formControlName="action" (change)="disabledMessage()">
                <option value="" >Choose Option</option>
                <option *ngFor="let item of items" [value]="item.id" >{{item.name}}</option>
              </select>
              <mat-error *ngIf="emergencyForm.controls.action.touched && emergencyForm.get('action').hasError('required')">Action is Required!</mat-error>
          </div>
      </div>
      <div class="col-md-12" *ngIf="emergencyForm.value.action==2" >
        <textarea class="form-control" cols="5" #message (keydown.space)="!message.value?$event.preventDefault():null" placeholder="Message" formControlName="message"></textarea>
        <mat-error *ngIf="emergencyForm.controls.message.touched && emergencyForm.get('message').hasError('required')">Message is Required!</mat-error>
    </div>
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary" (click)="this.id?updateEmergency():addEmergency()">{{this.id?"Update":"Save"}}</button>
      </div>
  </div>
  </form>