<div class="row my-3 no-gutters">
    <div class="col-md-4">             
        <div class="">
          <input type="text" class="form-control" id="prenametext" placeholder="Search">
        </div>              
    </div>
    <div class="col-md-8  text-right">
      <!-- <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary btn-sm mr-2"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
         All
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">ALL</button>
          <button class="dropdown-item">Active</button>
          <button class="dropdown-item">Inactive</button>
        </div>
      </div> -->
    </div>
  </div>
<div class="table-responsive">
    <table class="table">
      <tr>
        <th>#</th>
        <th>Student Name</th>
        <th>Wristband ID</th>
        <th>Class</th>
        <th>Roll No</th>
        <th>Mother Name</th>
        <th>Father Name</th>
        <th>Parents Email</th>
        <th>Parents Phone No.</th>
        <th> Action</th>
      </tr>
      <tr *ngFor="let list of data">
        <td>{{list.no}}</td>
        <td>{{list.studentName}}</td>
        <td>{{list.WristbandID}}</td>
        <td>{{list.class}}</td>
        <td>{{list.rollno}}</td>
        <td>{{list.motherName}}</td>
        <td>{{list.fatherName}}</td>
        <td>{{list.email}}</td>
        <td><p class="mb-0">{{list.phoneNo}}</p><p class="mb-0">{{list.altphoneNo}}</p></td>
        <td><button class="btn btn-primary" routerLink="vendors/vendordetail">View</button></td>
      </tr>
    </table>        
  </div> 