<div class="modal-header">
	<h3 class="box-title m-b-20">Otp</h3>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
<form class="mx-auto center_auth" [formGroup]="OtpForm">
	<div class="form-group text-center">
		<ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4}"></ng-otp-input>
	</div>
	<div class="text-center mt-5">
		<button type="submit" class="btn btn-primary btn-lg btn-block" (click)="VerifyOtp()">{{
			(isLoading)?'Processing...':'Submit' }}</button>
	</div>
	<!-- <p class="text-right mt-4">
		<a routerLink="/authentication/login" class="text-underline">Back?</a>
	</p> -->
</form>
</div>