<div class="row my-3 mb-3 no-gutters">
    <div class="col-md-4">             
        <div class="">
          <input type="text" class="form-control" id="prenametext" placeholder="Search">
        </div>              
    </div>
    <div class="col-md-8  text-right">
      <!-- <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary btn-sm mr-2"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
         All
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item">ALL</button>
          <button class="dropdown-item">Active</button>
          <button class="dropdown-item">Inactive</button>
        </div>
      </div> -->
    </div>
  </div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Student Name</th>
            <th>Wristband ID</th>
            <th>Comment</th>
        </tr>
        <tr *ngFor="let list of list">
            <td>{{list.name}}</td>
            <td>{{list.id}}</td>
            <td>{{list.comment}}</td>
        </tr>
    </table>
</div>