<div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-primary mb-3" routerLink="/users/userlist">Back</button>
    </div>
  </div>
  <div class="card p-3">
    <div class="row">
      <div class="col-md-6">
          <label>Upload Profile </label>
        <div class="custom-file">
            <input  type="file" id="customFile"  class="custom-file-input">
            <label  for="customFile" class="custom-file-label">Choose file</label>
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" placeholder="Full Name" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Middle Name</label>
          <input type="text" placeholder="Full Name" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" placeholder="Full Name" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" placeholder="dd-mm-yyyy" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Select Gendor</label>
          <select name="" id="" class="form-control">
            <option value="">Male</option>
            <option value="">Female</option>
            <option value="">Other</option>
          </select>
        </div>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Email</label>
          <input type="email" placeholder="Email" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone No</label>
          <input type="text" placeholder="+91-949394393" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Location</label>
          <input type="text" placeholder="Add Address" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Select City</label>
          <select name="" id="" class="form-control">
            <option value=""></option>
            <option value="">New York</option>
            <option value="">Los Angeles</option>
            <option value="">Chicago</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Zip Code </label>
        <input type="text" placeholder="Zip code" class="form-control">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Select State</label>
          <select name="" id="" class="form-control">
            <option value=""> New York</option>
            <option value="">California</option>
            <option value="">Illinois</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Property Acess Code </label>
        <input type="text" placeholder="Property Acess Code" class="form-control">
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Lockbox Code</label>
          <input type="text" placeholder="Lockbox Code" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Medical Information</label>
        <textarea name="" id="" cols="10" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="col-md-12 pl-0">
      <button class="btn btn-primary px-4">Save</button>
    </div>
  </div>
  