<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<h4>Emergency Protocol</h4>
			</div>
			<div class="col-md-6 text-right">
				<a class="btn btn-primary btn-sm mr-2" href="javascript:void(0)" (click)="addEmergency()" ><i class="fa fa-plus"></i> Emergency Protocol</a>
			  </div>
		</div>
	</div>
	<div class="row mt-3 ml-1">

		<div *ngFor="let item of items" class="col-md-3 mb-3">
		  <div class="conected-box">
			<div class="d-flex">
			  <h4 class="text-primary">{{item?.timer}} Sec</h4>
			  <button class="text-white mb-0 ml-auto font-size-12 btn-primary btn btn-sm" (click)="editEmergency(item.id)" ><i class="mdi mdi-pencil"></i></button>
			</div>
			<div class="">     
			  <p class="mb-0 font-size-18">{{item?.action?.name}}<a href="javascript:void(0)" *ngIf="item?.message" (click)="readModel(item?.message)">
				<i class="mdi mdi-information ml-2"></i>
			  </a></p>		     
			</div>    
		  </div>
		</div>
	  </div>
</div>