.contact-detail{
    border: 2px solid #1a1d4a;
    padding: 10px;
    background: #fff;
    color: #1a1d4a;
    figure{
        overflow: hidden;
        width: 90px;
        height: 90px;
        border: 2px solid #1b1d4c;
        margin-bottom: 0px;
    }
}
.conected-box{
    border: 2px solid #1a1d4a;
    padding: 10px;
    // background: #1a1d4a;
    color: #1a1d4a;
    p{
        font-size: 14px;
    }
    .font-size-12{
        font-size: 12px;
    }

}