<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<h4>Emergency Protocol</h4>
			</div>
			<div class="col-md-6 text-right">
				<a class="btn btn-primary btn-sm mr-2" href="javascript:void(0)" (click)="addEmergency()" ><i class="fa fa-plus"></i> Emergency Protocol</a>
			  </div>
		</div>
	</div>
	<div class="row mt-3 ml-1">

		<div class="col-md-3 mb-3">
		  <div class="conected-box">
			<div class="d-flex">
			  <h4 class="text-primary">30 Sec</h4>
			  <button class="text-white mb-0 ml-auto font-size-12 btn-primary btn btn-sm" (click)="editEmergency(3)" ><i class="mdi mdi-pencil"></i></button>
			</div>
			<div class="">     
			  <p class="mb-0 font-size-18">Alert</p>			     
			</div>    
		  </div>
		</div>
	  </div>
</div>