.admin-main {
    padding-top: 65px;
}
.auth_module {
    position: relative;
    height: 100vh;
    background-position: center;
    width: 100%;
    background-color: #0000008c;
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
}