<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <!-- You can find this in the dashboard-component -->

  </div>
</div>
<!-- ============================================================== -->
<!-- chart and stats -->
<!-- ============================================================== -->
<div class="card">


  <div class="row">
    <!-- chart component -->
    <div class="col-md-12">
      <app-project-counter></app-project-counter>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap m-b-30">
            <h4 class="card-title">Total Users</h4>
            <div ngbDropdown class="d-inline-block ml-auto">
              <button class="btn btn-outline-primary btn-sm mr-2" id="dropdownBasic1" ngbDropdownToggle>
                Users Reports
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" (click)="getUserData(2)">Weekly</button>
                <button class="dropdown-item" (click)="getUserData(3)">Monthly</button>
              </div>
            </div>
          </div>
          <div style="height:350px;" *ngIf="status ==true">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap m-b-30">
            <h4 class="card-title">Total Emergency Messages Sent</h4>
            <div ngbDropdown class="d-inline-block ml-auto">
              <button class="btn btn-outline-primary btn-sm mr-2" id="dropdownBasic1" ngbDropdownToggle>
                Emergency Messages
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" (click)="getEmergencyData(2)">Weekly</button>
                <button class="dropdown-item" (click)="getEmergencyData(3)">Monthly</button>
              </div>
            </div>
          </div>
          <div style="height:350px;" *ngIf="barChartLabels && barChartLabels.length>0">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- other chart component -->
    <!-- <div class="col-md-4">
    <app-project-counter></app-project-counter>
   </div> -->
  </div>
  <!-- ============================================================== -->
  <!-- Report and Comments -->
  <!-- ============================================================== -->
  <!-- Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- You can find this in the dashboard-component -->
      <!-- <app-earning-report></app-earning-report> -->
    </div>
    <div class="col-lg-6">
      <!-- You can find this in the dashboard-component -->
      <!-- <app-recent-comment></app-recent-comment> -->
    </div>
  </div>
  <!-- Row -->
  <!-- ============================================================== -->
  <!-- Carousel widgets -->
  <!-- You can find this in the dashboard-component -->
  <!-- ============================================================== -->
  <!-- <social-slider></social-slider> -->
  <!-- ============================================================== -->
  <!-- Activity widgets -->
  <!-- You can find this in the dashboard-component -->
  <!-- ============================================================== -->
  <!-- <div class="row">
   
    <div class="col-lg-8 col-xlg-9">
        <app-activity-timeline></app-activity-timeline>
    </div>
    <div class="col-lg-4 col-xlg-3">
        <app-profile-box></app-profile-box>
    </div>
</div> -->
</div>
