<div class="card">
  <div class="card-body">
      <div class="d-block text-right mb-3">
          <button class="btn btn-primary" routerLink="/geofence/geofencelist">Back</button>
      </div>
      <div class="row">
  <div class="col-12">
  
        <form action="">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Add Geofence Name">
          </div>
        </form>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles" #map2 style="height: 300px;"></agm-map>

        <button class="btn btn-primary mt-3">Save</button>
        <!-- <a routerLink="/pages/geofenceList" class="btn btn-primary mt-3">Veiw</a> -->
      </div>
    </div>
  </div>
</div>
