<div class="card">
    <div class="card-body">
      <div class="d-block text-right">
        <button class="button btn btn-primary mr-2" (click)="ExportToCsv()">Export CSV</button>
        <button class="button btn btn-primary" (click)="addDialog()"><i class="fa fa-plus"></i>Add Device</button>
      </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Device Name</th>
                    <th>Model Number</th>
                    <th>Serial Number</th>
                    <th>Version</th>
                    <!-- <th>Status</th> -->
                    <th>Action</th>
                </tr>
                <tr *ngFor="let list of data">
                    <td>{{list.no}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.id}}</td>
                    <td>{{list.emi}}</td>
                    <td>{{list.version}}</td>
                    <!-- <td><mat-slide-toggle></mat-slide-toggle></td> -->
                    <td>
                        <div ngbDropdown placement="bottom" class="d-inline-block" container="body">
                            <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                              Action
                            </button>  
                            <div *ngIf="list.action==1" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button class="dropdown-item" (click)="editDialog()"><i class="ti-marker-alt"></i> Edit</button>
                              <button class="dropdown-item" (click)="confirm()"><i class="ti-trash"></i>
                                Delete</button>
                            </div>
                          </div>
                    </td>
                </tr>
               
            </table>
        </div>
    </div>
</div>