<div class="card">
  <div class="card-body">
    <form action="" [formGroup]="notificationForm" ngxScrollToFirstInvalid>
      <div class="row">
        <div class="col-md-6">
          <mat-slide-toggle [checked]="checked"></mat-slide-toggle>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary" routerLink="/notification/notificationlist">View Notification History</button>
        </div>
        <div class="col-md-4">

          <div class="form-group mat-form-control mat-no-animation">
            <label>Notification Type</label>
            <mat-form-field >
              <mat-label>Choose an option</mat-label>
              <mat-select matNativeControl formControlName="notification_type">
                <mat-option value="1"> Content-based changes and updates</mat-option>
                <mat-option value="2">Activity-Based Updates</mat-option>
                <mat-option value="3">Broadcast Notification</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
                *ngIf="notificationForm.controls.notification_type.touched && notificationForm.controls.notification_type.hasError('required')">
                Type is Required!</mat-error>
          </div>
          <div class="form-group mat-form-control mat-no-animation">
            <label>Notification Mode</label>
            <mat-form-field>
              <mat-label>Choose an option</mat-label>
              <mat-select matNativeControl name="" id="" formControlName="notification_mode">
                <mat-option value="1">Email</mat-option>
                <mat-option value="2">Notification</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
                *ngIf="notificationForm.controls.notification_mode.touched && notificationForm.controls.notification_mode.hasError('required')">
                Mode is Required!</mat-error>
          </div>
          <div class="form-group mat-form-control mat-no-animation">
            <label>User Type</label>
            <mat-form-field>
              <mat-label>Choose an option</mat-label>
              <mat-select #mySel matNativeControl multiple (selectionChange)="onSelection($event)"
                formControlName="users">
                <mat-option [value]="0" (click)="toggleAllSelection()"> All</mat-option>
                <mat-option [value]="user?.id" *ngFor="let user of userItems" (click)="singleSelection()">
                  {{user?.full_name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error
                *ngIf="notificationForm.controls.users.touched && notificationForm.controls.users.hasError('required')">
                Users is Required!</mat-error>
          </div>
          <div class="form-group">
            <label>Add Heading</label>
            <input type="text"  placeholder="" #title (keydown.space)="!title.value?$event.preventDefault():null"
               formControlName="title" class="form-control">
            <mat-error
              *ngIf="notificationForm.controls.title.touched && notificationForm.controls.title.hasError('required')">
              Heading is Required!</mat-error>
            <mat-error
              *ngIf="notificationForm.controls.title.touched && notificationForm.controls.title.hasError('minlength')">
              Min Character Length 3!</mat-error>
            <mat-error
              *ngIf="notificationForm.controls.title.touched && notificationForm.controls.title.hasError('maxlength')">
              Max Character Length 15!</mat-error>
          </div>
          <div class="form-group">
            <label>Add Message</label>
            <textarea name="" id="" cols="30" rows="5" class="form-control" #message
              (keydown.space)="!message.value?$event.preventDefault():null" formControlName="message"></textarea>
            <mat-error
              *ngIf="notificationForm.controls.message.touched && notificationForm.controls.message.hasError('required')">
              Message is Required!</mat-error>
            <mat-error
              *ngIf="notificationForm.controls.message.touched && notificationForm.controls.message.hasError('minlength')">
              Min Character length 4!</mat-error>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit" (click)="createNotification()">Send</button>

        </div>
      </div>
    </form>
  </div>
</div>
