<div class="card">
  <div class="card-body">
    <div class="row  pr-2 mt-2 ">
      <div class="col-md-4">
          <div class="mb-2">
            <input type="text" class="form-control" (keyup)="searchHere()" id="prenametext" placeholder="Search" [(ngModel)]="searchText.value" >
          </div>
      </div>
      <div class="col-md-8 mb-2 text-right">
        <a routerLink="/notification/addnotification" class="btn btn-primary mr-2">Back</a>
      </div>
    </div>
    <hr>
    <mat-tab-group [selectedIndex]="currentTabIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Broadcast Notification"><app-notification-table *ngIf="currentTabIndex==0" [status]="1" [searchText]="searchText"></app-notification-table></mat-tab>
      <mat-tab label="Activity based Notification"><app-notification-table *ngIf="currentTabIndex==1" [status]="2" [searchText]="searchText"></app-notification-table></mat-tab>
      <mat-tab label="Contant Based Notification"><app-notification-table *ngIf="currentTabIndex==2" [status]="3" [searchText]="searchText"></app-notification-table></mat-tab>
    </mat-tab-group>
  </div>
</div>
<!-- view modal -->
<ng-template #review let-modal>
  <div class="modal-body">
    <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="mdi mdi-close"></i>
    </button>
    <div class="row">

      <!-- Column -->
      <div class="col-lg-12 col-xlg-12 col-md-12">
        <div class="card custom-tabs mb-0">
          <div class="card-body">
            <div class="row pt-2">
              <div class="col-md-12">
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here', making it look like
                  readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                  default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</ng-template>
<!-- add review -->
