<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Device Name</label>
            <input type="text" placeholder="name" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Model Number</label>
            <input type="text" placeholder="#4545454" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Serial Number</label>
            <input type="text" placeholder="#4545454" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Version</label>
            <input type="text" placeholder="6.8.8" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary">Update</button>
    </div>
</div>